body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.admin-layout {
  display: flex;
  height: 100vh;
}
.main-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  scroll-behavior: smooth;
}

.table {
  margin-bottom: 100px;
}

.sidebar {
  width: 240px;
  background: #1e293b;
  color: #fff;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.logout {
  margin-top: 20px;
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #f1f5f9;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
}
select {
  padding: 8px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

.assign-btn {
  margin-top: 15px;
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}
.table-container {
  overflow-x: auto;
  margin-bottom: 100px;
}

.leads-table {
  width: 100%;
  border-collapse: collapse;
}

.leads-table th,
.leads-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.leads-table th {
  background: #1f2937;
  color: white;
}

.edit-btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
